/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  // "default" is the dark-mode state (shown after pressing the contrast toggle)
  default: (
    primary: #333333,
    secondary: #666a86,
    shadow: #22252e,
    white: #fff0eb,
  ),

  // "contrasted" is the state shown on page load
  contrasted: (
    primary: #40e0d0,
    secondary: #ff7f50,
    shadow: #0e7a70,
    white: #fff0eb,
  ),
);
